@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

$accentColorBright: #fa9500; /*orange*/
$accentColorDark: #7c6a0a; /*dark olive*/
$accentColorLight: #babd8d; /*light olive*/
$accentColorPale: #ffdac6; /*pink*/
$black: #000000;
$bold: bold;
$headerHeight: 9rem;
$mainColor: #ddccaa; /*beige*/
$primaryFont: 'Archivo', san-serif;
$white: #ffffff;